In [8]:
import pandas as pd
import psycopg2
import plotly.express as px
import json
import requests

In [3]:
# DF Creation of tables in sql
mydb = psycopg2.connect(host = 'localhost',
                        user = 'postgres',
                        port = '5432',
                        database = "Phonepe_Data",
                        password = 'Space-time123')

cursor = mydb.cursor()

#aggre_transaction DF
cursor.execute('SELECT * FROM aggregated_transaction')
mydb.commit()
Table1 = cursor.fetchall()

Aggre_transaction = pd.DataFrame(Table1, columns=('States','Years','Quartile','Transaction_type','Transaction_count','Transaction_amount'))


cursor.execute('SELECT * FROM aggregated_user')
mydb.commit()
Table2 = cursor.fetchall()

Aggre_user = pd.DataFrame(Table2, columns=('States','Years','Quartile','Brands','Transaction_count','Percentage'))

cursor.execute('SELECT * FROM map_transaction')
mydb.commit()
Table3 = cursor.fetchall()

Map_transaction = pd.DataFrame(Table3, columns=('States','Years','Quartile','Districts','Transaction_count','Transaction_amount'))


cursor.execute('SELECT * FROM map_users')
mydb.commit()
Table4 = cursor.fetchall()

Map_user = pd.DataFrame(Table4, columns=('States','Years','Quartile','Districts','RegisteredUsers','AppOpens'))


cursor.execute('SELECT * FROM top_transaction')
mydb.commit()
Table5 = cursor.fetchall()

Top_transaction = pd.DataFrame(Table5, columns=('States','Years','Quartile','Pincodes','Transaction_count','Transaction_amount'))


cursor.execute('SELECT * FROM top_user')
mydb.commit()
Table6 = cursor.fetchall()

Top_user = pd.DataFrame(Table6, columns=('States','Years','Quartile','Pincodes','RegisteredUsers'))

In [224]:
def top_chart_transaction_amount(table_name):

    mydb = psycopg2.connect(host = 'localhost',
                            user = 'postgres',
                            port = '5432',
                            database = "Phonepe_Data",
                            password = 'Space-time123')

    cursor = mydb.cursor()

    query_1 = f'''Select states, SUM(transaction_amount) as transaction_amount
                From {table_name}
                Group by States
                Order by transaction_amount DESC
                Limit 10;'''
    cursor.execute(query_1)   
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table_1, columns=('states','transaction_amount'))          
    fig_amount = px.bar(df_1,x='states', y = 'transaction_amount', title = 'Transaction Amount',hover_name='states',
                        color_discrete_sequence=px.colors.sequential.Aggrnyl ,height=650, width=600)

    fig_amount.show()

    query_2 = f'''Select states, SUM(transaction_amount) as transaction_amount
                From {table_name}
                Group by States
                Order by transaction_amount
                Limit 10;'''
    cursor.execute(query_2)   
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table_2, columns=('states','transaction_amount'))          
    fig_amount_2= px.bar(df_1,x='states', y = 'transaction_amount', title = 'Transaction Amount',hover_name='states',
                        color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650, width=600)

    fig_amount_2.show()            

    query_3 = f'''Select states, AVG(transaction_amount) as transaction_amount
                From {table_name}
                Group by States
                Order by transaction_amount;'''
    cursor.execute(query_3)   
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table_3, columns=('states','transaction_amount'))          
    fig_amount_3= px.bar(df_1,y='states', x = 'transaction_amount', title = 'Transaction Amount',hover_name='states', orientation='h',
                        color_discrete_sequence=px.colors.sequential.Bluered_r,height=650, width=600)

    fig_amount_3.show()

In [231]:
def top_chart_transaction_count(table_name):

    mydb = psycopg2.connect(host = 'localhost',
                            user = 'postgres',
                            port = '5432',
                            database = "Phonepe_Data",
                            password = 'Space-time123')

    cursor = mydb.cursor()

    query_1 = f'''Select states, SUM(transaction_count) as transaction_count
                From {table_name}
                Group by States
                Order by transaction_count DESC
                Limit 10;'''
    cursor.execute(query_1)   
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table_1, columns=('states','transaction_count'))          
    fig_amount = px.bar(df_1,x='states', y = 'transaction_count', title = 'Transaction Count',hover_name='states',
                        color_discrete_sequence=px.colors.sequential.Aggrnyl ,height=650, width=600)

    fig_amount.show()

    query_2 = f'''Select states, SUM(transaction_count) as transaction_count
                From {table_name}
                Group by States
                Order by transaction_count
                Limit 10;'''
    cursor.execute(query_2)   
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table_2, columns=('states','transaction_count'))          
    fig_amount_2= px.bar(df_1,x='states', y = 'transaction_count', title = 'Transaction Count',hover_name='states',
                        color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650, width=600)

    fig_amount_2.show()            

    query_3 = f'''Select states, AVG(transaction_count) as transaction_count
                From {table_name}
                Group by States
                Order by transaction_count;'''
    cursor.execute(query_3)   
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table_3, columns=('states','transaction_count'))          
    fig_amount_3= px.bar(df_1,y='states', x = 'transaction_count', title = 'Transaction Count',hover_name='states', orientation='h',
                        color_discrete_sequence=px.colors.sequential.Bluered_r,height=650, width=600)

    fig_amount_3.show()

In [242]:
def top_chart_map_user(table_name,state):

    mydb = psycopg2.connect(host = 'localhost',
                            user = 'postgres',
                            port = '5432',
                            database = "Phonepe_Data",
                            password = 'Space-time123')

    cursor = mydb.cursor()

    query_1 = f'''select districts,sum(registeredusers) as registeredusers
                  from {table_name}
                  where states = '{state}'
                  group by districts
                  order by registeredusers desc
                  limit 10;'''
    cursor.execute(query_1)   
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table_1, columns=('districts','registeredusers'))          
    fig_amount = px.bar(df_1,x='districts', y = 'registeredusers', title = 'Top 10 of Registered User',hover_name='districts',
                        color_discrete_sequence=px.colors.sequential.Aggrnyl ,height=650, width=600)

    fig_amount.show()

    query_2 = f'''select districts,sum(registeredusers) as registeredusers
                  from {table_name}
                  where states = '{state}'
                  group by districts
                  order by registeredusers asc
                  limit 10;'''
    cursor.execute(query_2)   
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table_2, columns=('districts','registeredusers'))          
    fig_amount_2= px.bar(df_1,x='districts', y = 'registeredusers', title = 'Last 10 Registered User',hover_name='districts',
                        color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650, width=600)

    fig_amount_2.show()            

    query_3 = f'''select districts,avg(registeredusers) as registeredusers
                  from {table_name}
                  where states = '{state}'
                  group by districts
                  order by registeredusers;'''
    cursor.execute(query_3)   
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table_3, columns=('districts','registeredusers'))          
    fig_amount_3= px.bar(df_1,y='districts', x = 'registeredusers', title = 'Average Registered User',hover_name='districts', orientation='h',
                        color_discrete_sequence=px.colors.sequential.Bluered_r,height=650, width=600)

    fig_amount_3.show()

In [244]:
def top_chart_map_user_appOpens(table_name,state):

    mydb = psycopg2.connect(host = 'localhost',
                            user = 'postgres',
                            port = '5432',
                            database = "Phonepe_Data",
                            password = 'Space-time123')

    cursor = mydb.cursor()

    query_1 = f'''select districts,sum(appopens) as appopens
                  from {table_name}
                  where states = '{state}'
                  group by districts
                  order by appopens desc
                  limit 10;'''
    cursor.execute(query_1)   
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table_1, columns=('districts','appopens'))          
    fig_amount = px.bar(df_1,x='districts', y = 'appopens', title = 'Top 10 of App Opens',hover_name='districts',
                        color_discrete_sequence=px.colors.sequential.Aggrnyl ,height=650, width=600)

    fig_amount.show()

    query_2 = f'''select districts,sum(appopens) as appopens
                  from {table_name}
                  where states = '{state}'
                  group by districts
                  order by appopens asc
                  limit 10;'''
    cursor.execute(query_2)   
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table_2, columns=('districts','appopens'))          
    fig_amount_2= px.bar(df_1,x='districts', y = 'appopens', title = 'Last 10 App Opens',hover_name='districts',
                        color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650, width=600)

    fig_amount_2.show()            

    query_3 = f'''select districts,avg(appopens) as appopens
                  from {table_name}
                  where states = '{state}'
                  group by districts
                  order by appopens;'''
    cursor.execute(query_3)   
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table_3, columns=('districts','appopens'))          
    fig_amount_3= px.bar(df_1,y='districts', x = 'appopens', title = 'Average App Opens',hover_name='districts', orientation='h',
                        color_discrete_sequence=px.colors.sequential.Bluered_r,height=650, width=600)

    fig_amount_3.show()

In [251]:
def top_chart_top_user(table_name):

    mydb = psycopg2.connect(host = 'localhost',
                            user = 'postgres',
                            port = '5432',
                            database = "Phonepe_Data",
                            password = 'Space-time123')

    cursor = mydb.cursor()

    query_1 = f'''select states,sum(registeredusers) as registeredusers
                  from {table_name}
                  group by states
                  order by registeredusers desc
                  limit 10;'''
    cursor.execute(query_1)   
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table_1, columns=('states','registeredusers'))          
    fig_amount = px.bar(df_1,x='states', y = 'registeredusers', title = 'Top 10 of Registered Users in Top User',hover_name='states',
                        color_discrete_sequence=px.colors.sequential.Aggrnyl ,height=650, width=600)

    fig_amount.show() 

    query_2 = f'''select states,sum(registeredusers) as registeredusers
                    from {table_name}
                    group by states
                    order by registeredusers
                    limit 10;'''
    cursor.execute(query_2)   
    table_2 = cursor.fetchall()
    mydb.commit()

    df_2 = pd.DataFrame(table_2, columns=('states','registeredusers'))          
    fig_amount_2= px.bar(df_1,x='states', y = 'registeredusers', title = 'Last 10 Registered users in top user',hover_name='states',
                        color_discrete_sequence=px.colors.sequential.Aggrnyl,height=650, width=600)

    fig_amount_2.show() 

    query_3 = f'''select states,avg(registeredusers) as registeredusers
                    from {table_name}
                    group by states
                    order by registeredusers;'''
    cursor.execute(query_3)   
    table_3 = cursor.fetchall()
    mydb.commit()

    df_3 = pd.DataFrame(table_3, columns=('states','registeredusers'))          
    fig_amount_3= px.bar(df_1,y='states', x = 'registeredusers', title = 'Average Registered Users in Top User'
                         ,hover_name='states', orientation='h',
                        color_discrete_sequence=px.colors.sequential.Bluered_r,height=650, width=600)

    fig_amount_3.show()

In [17]:
def total_count_Y(table_name):
    mydb = psycopg2.connect(host = 'localhost',
                            user = 'postgres',
                            port = '5432',
                            database = "Phonepe_Data",
                            password = 'Space-time123')

    cursor = mydb.cursor()
    
    query_1 = f'''Select years, sum(transaction_count) as total_count 
                        from {table_name} 
                        group by years 
                        order by years asc'''
    cursor.execute(query_1)   
    table_1 = cursor.fetchall()
    mydb.commit()

    df_1 = pd.DataFrame(table_1, columns=('years','total_count'))          
    Pie_Chart = px.pie(data_frame = df_1, names = 'years', values = 'total_count', width = 600, title = 'way of transactions', hole = 0.50 )


    Pie_Chart.show()

In [ ]:
total_count_Y('aggregated_user')

In [ ]:
top_chart_transaction_amount('aggregated_transaction')

In [ ]:
top_chart_transaction_count('aggregated_transaction')

In [ ]:
top_chart_map_user('map_users','Andhra Pradesh')

In [ ]:
top_chart_map_user_appOpens('map_users','Andhra Pradesh')

In [ ]:
top_chart_top_user('top_user')

In [2]:
def Transaction_Amount_Count_Yearwise(df, year):
    Tramcoye = df[df['Years'] == year]
    Tramcoye.reset_index(drop = True, inplace = True)


    Tramcoye_Group = Tramcoye.groupby('States')[['Transaction_count','Transaction_amount']].sum()
    Tramcoye_Group.reset_index(inplace= True)

    Amount_Plot = px.bar(Tramcoye_Group, x = 'States', y = 'Transaction_amount',title = f'{year} Transaction Amount' ,height = 630, width=600)
    Amount_Plot.show()
    
    Count_Plot = px.bar(Tramcoye_Group, x = 'States', y = 'Transaction_count',title = f'{year}Transaction Count',height = 630, width=600)
    
    
    Count_Plot.show()
    
    url = 'https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson'
    response = requests.get(url)
    data1 = json.loads(response.content)

    states_name = []
    for feature in data1['features']:
        states_name.append((feature['properties']['ST_NM']))
        

    states_name.sort()

    India_map1 = px.choropleth(Tramcoye_Group, geojson = data1, 
                                locations = 'States', 
                                featureidkey = 'properties.ST_NM',
                                color = 'Transaction_amount', 
                                color_continuous_scale = 'Rainbow',
                                range_color = (Tramcoye_Group['Transaction_amount'].min(),
                                                Tramcoye_Group['Transaction_amount'].max()), 
                                hover_name = 'States', 
                                title = f'{year}  Transaction amount', fitbounds = 'locations',height = 600, width=600
                                ) 
    India_map1.update_geos(visible = False)
    India_map1.show()
    
    
    India_map2 = px.choropleth(Tramcoye_Group, geojson = data1, 
                                locations = 'States', 
                                featureidkey = 'properties.ST_NM',
                                color = 'Transaction_count', 
                                color_continuous_scale = 'Rainbow',
                                range_color = (Tramcoye_Group['Transaction_count'].min(),
                                                Tramcoye_Group['Transaction_count'].max()), 
                                hover_name = 'States', 
                                title = f'{year}  Transaction count', fitbounds = 'locations',height = 600, width=600
                                ) 
    India_map2.update_geos(visible = False)
    India_map2.show()
    
    return Tramcoye

In [3]:
def Transaction_Amount_Count_Quartilewise(df, quartile):
    Tramcoye = df[df['Quartile'] == quartile]
    Tramcoye.reset_index(drop = True, inplace = True)


    Tramcoye_Group = Tramcoye.groupby('States')[['Transaction_count','Transaction_amount']].sum()
    Tramcoye_Group.reset_index(inplace= True)

    Amount_Plot = px.bar(Tramcoye_Group, x = 'States', y = 'Transaction_amount',title = f'  {Tramcoye["Years"].min()}  Year  {quartile} Quarter Transaction Amount' ,height = 630, width=600)
    Amount_Plot.show()
    
    Count_Plot = px.bar(Tramcoye_Group, x = 'States', y = 'Transaction_count',title = f'  {Tramcoye["Years"].min()}  Year  {quartile} Quarter Transaction Count' ,height = 630, width=600)
    
    
    Count_Plot.show()
    
    url = 'https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson'
    response = requests.get(url)
    data1 = json.loads(response.content)

    states_name = []
    for feature in data1['features']:
        states_name.append((feature['properties']['ST_NM']))
        

    states_name.sort()

    India_map1 = px.choropleth(Tramcoye_Group, geojson = data1, 
                                locations = 'States', 
                                featureidkey = 'properties.ST_NM',
                                color = 'Transaction_amount', 
                                color_continuous_scale = 'Rainbow',
                                range_color = (Tramcoye_Group['Transaction_amount'].min(),
                                                Tramcoye_Group['Transaction_amount'].max()), 
                                hover_name = 'States', 
                                title = f'{Tramcoye["Years"].min()}  Year {quartile} Quartrline Transaction amount', fitbounds = 'locations',height = 600, width=600
                                ) 
    India_map1.update_geos(visible = False)
    India_map1.show()
    
    
    India_map2 = px.choropleth(Tramcoye_Group, geojson = data1, 
                                locations = 'States', 
                                featureidkey = 'properties.ST_NM',
                                color = 'Transaction_count', 
                                color_continuous_scale = 'Rainbow',
                                range_color = (Tramcoye_Group['Transaction_count'].min(),
                                                Tramcoye_Group['Transaction_count'].max()), 
                                hover_name = 'States', 
                                title = f'  {Tramcoye["Years"].min()}  Year  {quartile} Quarter Transaction Count' , fitbounds = 'locations',height = 600, width=600
                                ) 
    India_map2.update_geos(visible = False)
    India_map2.show()
    
    return Tramcoye

In [6]:
def Aggre_Tran_Transaction_Type(df, state):

    Tramcoye = df[df['States'] == state]
    Tramcoye.reset_index(drop = True, inplace = True)

    Tramcoye_Group = Tramcoye.groupby('Transaction_type')[['Transaction_count','Transaction_amount']].sum()
    Tramcoye_Group.reset_index(inplace= True)

    Pie_Chart1 = px.pie(data_frame = Tramcoye_Group, names = 'Transaction_type', values = 'Transaction_amount', width = 600, title = f'{state}  Transaction amount', hole = 0.50 , )

    Pie_Chart1.show()

    Pie_Chart2 = px.pie(data_frame = Tramcoye_Group, names = 'Transaction_type', values = 'Transaction_count', width = 600, title = f'{state}  Transaction count', hole = 0.50 , )

    Pie_Chart2.show()

In [7]:
def Aggre_User_plot1(df, year):


    AgUY = df[df['Years'] == year]
    AgUY.reset_index(drop = True, inplace = True)

    AgUY_Group = AgUY.groupby('Brands')[['Transaction_count']].sum()
    AgUY_Group.reset_index(inplace = True)

    Bar1 = px.bar(AgUY_Group, x = 'Brands', y = 'Transaction_count', title = 'Brands and Transaction Count', width= 900)
    Bar1.show()
    
    return AgUY

In [8]:
def Aggre_User_plot2(df, quartile):
    AgUYQ = df[df['Quartile'] == quartile]
    AgUYQ.reset_index(drop = True, inplace = True)

    AgUYQ_Group = AgUYQ.groupby(['Brands'])[['Transaction_count']].sum()
    AgUYQ_Group.reset_index(inplace = True)
    Bar2 = px.bar(AgUYQ_Group, x = 'Brands', y = 'Transaction_count', title = f'{quartile} Quartile,Brands and Transaction Count Quartile', width= 900)
    Bar2.show()
    
    return AgUYQ

In [9]:
def Aggre_User_plot3(df, state):
    AgU_Year_Q_S = df[df['States'] == state]
    AgU_Year_Q_S.reset_index(drop=True, inplace= True )
    Area1 = px.area(AgU_Year_Q_S, x= 'Brands', y= 'Transaction_count', hover_data= 'Percentage',title='Brands, Transaction count, Percentage',width=900, markers=True)
    Area1.show()

In [62]:
def Map_Trans_District(df, state):
    Tacyd = df[df['States'] == state]
    Tacyd.reset_index(drop = True, inplace = True)
    
    Tacyd_Group = Tacyd.groupby('Districts')[['Transaction_count','Transaction_amount']].sum()
    Tacyd_Group.reset_index(inplace = True)
   
    
    Bar3 = px.bar(Tacyd_Group, x = 'Transaction_amount', y = 'Districts', orientation= 'h', title = f'{state} Districts and Transaction amount', width= 900)
    Bar3.show()
    
    Bar4 = px.bar(Tacyd_Group, x = 'Transaction_count', y = 'Districts' ,title = f'{state} Districts and Transaction count')
    Bar4.show()

In [ ]:
def Map_User_Plot1(df, year):

    MUY = df[df['Years'] == year]
    MUY.reset_index(drop = True, inplace = True)

    MUY_Group = MUY.groupby('States')[['RegisteredUsers', 'AppOpens']].sum()
    MUY_Group.reset_index(inplace = True)

    Area2  = px.area(MUY_Group, x= 'States', y= ['RegisteredUsers', 'AppOpens'],title=f'{year} MUY Registered Users & App Opens',width=900, markers= True)
    Area2.show()

    return MUY

In [154]:
def Map_User_Plot2(df, quartile):

    MUY_Q = df[df['Quartile'] == quartile]
    MUY_Q.reset_index(drop = True, inplace = True)

    MUY_Q_Group = MUY_Q.groupby('States')[['RegisteredUsers', 'AppOpens']].sum()
    MUY_Q_Group.reset_index(inplace = True)

    Area2  = px.area(MUY_Q_Group, x= 'States', y= ['RegisteredUsers', 'AppOpens'],
                     title=f'{df['Years'].unique()} {quartile} MUY Quartile Registered Users & App Opens',width=900, 
                     markers= True, color_discrete_sequence = px.colors.sequential.YlGnBu)
    Area2.show()
    
    return MUY_Q

In [145]:
def Map_User_plot3(df, states):
    MUYQS = df[df['States'] == 'states']
    MUYQS.reset_index(drop = True, inplace = True)

    Bar5 = px.bar(MUYQS, x = 'RegisteredUsers', y = 'Districts',orientation='h', 
                    title = 'Registered User',
                    height=900, width= 900)
    Bar5.show()

    Bar6 = px.bar(MUYQS, x = 'AppOpens', y = 'Districts',orientation='h', 
                    title = 'App Opens',
                    height=900, width= 900)
    Bar6.show()

In [195]:
def Top_Transaction_Plot1(df, states):

    TTY_Q = df[df['States'] == states]
    TTY_Q.reset_index(drop = True, inplace = True)

    TTY_Q_Group = TTY_Q.groupby('Pincodes')[['Transaction_count', 'Transaction_amount']].sum()
    TTY_Q_Group.reset_index(inplace = True)
    BarPlot1  = px.bar(TTY_Q, x= 'Pincodes', y= 'Transaction_amount',color='Pincodes',
                        title='Transaction Amount',width=900, 
                        markers= True, color_discrete_sequence = px.colors.sequential.YlGnBu)
    BarPlot1.show()
    
    Line2  = px.area(TTY_Q, x= 'Pincodes', y= 'Transaction_count',
                        title='Transaction Count',width=900, 
                        markers= True, color_discrete_sequence = px.colors.sequential.Sunsetdark_r)
    Line2.show()

In [ ]:
def Top_User_P1(df, years):
    TUY = df[df['Years'] == years]
    TUY.reset_index(drop = True, inplace = True)

    TUY_Group = pd.DataFrame(TUY.groupby(['States', 'Quartile'])['RegisteredUsers'].sum())
    TUY_Group.reset_index(inplace = True)

    Top_User_Plot1 = px.bar(TUY_Group, x = 'States', y = 'RegisteredUsers', 
                            color = 'Quartile', width= 900, height = 900,
                            color_discrete_sequence=px.colors.sequential.algae_r,
                            title = f'{years} Registered Users')

    Top_User_Plot1.show()
    
    return TUY

In [217]:
def Top_User_P2(df,states):

    TUYS = df[df['States'] == states]
    TUYS.reset_index(drop = True, inplace = True)

    StackedPlot1 = px.bar(TUYS, x= 'Quartile', y = 'RegisteredUsers', color='RegisteredUsers', 
                        title = 'Registered Users, Pincodes, Quarter', width=900, height = 600, 
                        hover_data='Pincodes',color_continuous_scale=px.colors.sequential.Magma)

    StackedPlot1.show()

### Aggregated_transaction

In [ ]:
Aggre_Tran_Transaction_Type(Tram_y, 'Bihar')

In [ ]:
Tram_y_q = Transaction_Amount_Count_Quartilewise(Tram_y, 3)

In [ ]:
Aggre_Tran_Transaction_Type(Tram_y_q, 'Bihar')

### Aggregated User

In [ ]:
AgU_Year = Aggre_User_plot1(Aggre_user, 2020)

In [ ]:
AgU_Year_Q = Aggre_User_plot2(AgU_Year, 3)

In [ ]:
AgU_Year

In [ ]:
Aggre_User_plot3(AgU_Year_Q, 'Bihar')

In [ ]:
Aggre_User_plot3(AgU_Year_Q, 'Bihar')

In [ ]:
AgU_Year_Q

### Map Transaction

In [ ]:
Map_TY = Transaction_Amount_Count_Yearwise(Map_transaction, 2023)

In [ ]:
Map_Trans_District(Map_TY, 'West Bengal')

In [ ]:
Map_TY_Q = Transaction_Amount_Count_Quartilewise(Map_TY, 3)

In [ ]:
Map_Trans_District(Map_TY_Q, 'West Bengal')

### Map User

In [ ]:
Map_User_y = Map_User_Plot1(Map_user, 2022)

In [ ]:
Map_User_Year_Q = Map_User_Plot2(Map_User_y, 2)

In [ ]:
Map_User_plot3(Map_User_Year_Q,'Andhra Pradesh')

### Top Trans

In [ ]:
Top_transaction

In [ ]:
Top_TY = Transaction_Amount_Count_Yearwise(Top_transaction, 2023)

In [ ]:
Top_Transaction_Year_Q =  Transaction_Amount_Count_Quartilewise(Top_TY, 3)

### Top User

In [ ]:
Top_User_Year = Top_User_P1(Top_user, 2023)

In [ ]:
Top_User_P2(Top_user, 'Bihar')