In [63]:
import os #for accessing data from local directories
import json
import pandas as pd
import psycopg2

In [64]:
#Aggregated Transctions

path1 = "C:/Users/Srinivasa Rao/OneDrive/Documents/PhonePe/pulse/data/aggregated/transaction/country/india/state/"
aggre_trans_list = os.listdir(path1)

columns = {'States':[], 'Years':[], 'Quartile':[], 
           'Transaction_type':[], 'Transaction_count':[], 
           'Transaction_amount':[] 
           }

for state in aggre_trans_list:
    curr_states = path1 + state + '/'
    aggre_year_list = os.listdir(curr_states)
    
    for year in aggre_year_list:
        curr_year = curr_states + year + "/"
        aggre_file_list = os.listdir(curr_year)
        
        for file in aggre_file_list:
            curr_file = curr_year + file
            data = open(curr_file,'r')
            
            A = json.load(data)
            
            for i in A['data']['transactionData']:
                name = i['name']
                count = i['paymentInstruments'][0]['count']
                amount = i['paymentInstruments'][0]['amount']
                columns['Transaction_type'].append(name)
                columns['Transaction_count'].append(count)
                columns['Transaction_amount'].append(amount)
                columns['States'].append(state)
                columns['Years'].append(year)
                columns['Quartile'].append(int(file.strip('.json')))

aggre_transaction = pd.DataFrame(columns)

aggre_transaction['States'] = aggre_transaction['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
aggre_transaction['States'] = aggre_transaction['States'].str.replace('andhra-pradesh','andhra pradesh')
aggre_transaction['States'] = aggre_transaction['States'].str.replace('west-bengal','west bengal')
aggre_transaction['States'] = aggre_transaction['States'].str.replace('madhya-pradesh','madhya pradesh')
aggre_transaction['States'] = aggre_transaction['States'].str.replace('jammu-&-kashmir','jammu & kashmir')
aggre_transaction['States'] = aggre_transaction['States'].str.replace('himachal-pradesh','himachal pradesh')
aggre_transaction['States'] = aggre_transaction['States'].str.replace("arunachal-pradesh",'arunachal pradesh')
aggre_transaction['States'] = aggre_transaction['States'].str.replace('tamil-nadu','tamil nadu')
aggre_transaction['States'] = aggre_transaction['States'].str.replace('uttar-pradesh','uttar pradesh')

aggre_transaction['States'] = aggre_transaction['States'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu','dadra and nagar haveli and daman and diu')
aggre_transaction['States'] = aggre_transaction['States'].str.title()

In [65]:
#aggre_user
path2 = 'C:/Users/Srinivasa Rao/OneDrive/Documents/PhonePe/pulse/data/aggregated/user/country/india/state/'
aggre_user_list = os.listdir(path2)


columns1 = {'States':[], 'Years':[], 'Quartile':[], 
           'Brands':[], 'Transaction_count':[], 
           'Percentage':[] 
           }

for state in aggre_user_list:
    curr_states = path2 + state + '/'
    aggre_year_list = os.listdir(curr_states)
    
    for year in aggre_year_list:
        curr_year = curr_states + year + "/"
        aggre_file_list = os.listdir(curr_year)
        
        for file in aggre_file_list:
            curr_file = curr_year + file
            data = open(curr_file,'r')
            
            B = json.load(data)
            
            try:
                for i in B['data']['usersByDevice']:
                    brand = i['brand']
                    count = i['count']
                    percentage = i['percentage']
                    columns1['Brands'].append(brand)
                    columns1['Transaction_count'].append(count)
                    columns1['Percentage'].append(percentage)
                    columns1['States'].append(state)
                    columns1['Years'].append(year)
                    columns1['Quartile'].append(int(file.strip('.json')))
                    
                    
            except:
                pass

aggre_user = pd.DataFrame(columns1)

aggre_user['States'] = aggre_user['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
aggre_user['States'] = aggre_user['States'].str.replace('andhra-pradesh','andhra pradesh')
aggre_user['States'] = aggre_user['States'].str.replace('west-bengal','west bengal')
aggre_user['States'] = aggre_user['States'].str.replace('madhya-pradesh','madhya pradesh')
aggre_user['States'] = aggre_user['States'].str.replace('jammu-&-kashmir','jammu & kashmir')
aggre_user['States'] = aggre_user['States'].str.replace('himachal-pradesh','himachal pradesh')
aggre_user['States'] = aggre_user['States'].str.replace('arunachal-pradesh','arunachal pradesh')
aggre_user['States'] = aggre_user['States'].str.replace('uttar-pradesh','uttar pradesh')

aggre_user['States'] = aggre_user['States'].str.replace('tamil-nadu','tamil nadu')
aggre_user['States'] = aggre_user['States'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu','dadra and nagar haveli and daman and diu')
aggre_user['States'] = aggre_user['States'].str.title()

In [66]:
path3 = 'C:/Users/Srinivasa Rao/OneDrive/Documents/PhonePe/pulse/data/map/transaction/hover/country/india/state/'
map_trans_list = os.listdir(path3)

columns2 = {'States':[], 'Years':[], 'Quartile':[], 
           'Districts':[], 'Transaction_count':[], 
           'Transaction_amount':[] 
           }

for state in map_trans_list:
    curr_states = path3 + state + '/'
    aggre_year_list = os.listdir(curr_states)
    
    for year in aggre_year_list:
        curr_year = curr_states + year + "/"
        aggre_file_list = os.listdir(curr_year)
        
        for file in aggre_file_list:
            curr_file = curr_year + file
            data = open(curr_file,'r')
            
            C = json.load(data)
            
            try:
                for i in C['data']['hoverDataList']:
                    name = i['name']
                    count = i['metric'][0]['count']
                    amount = i['metric'][0]['amount']
                    columns2['Districts'].append(name)
                    columns2['Transaction_count'].append(count)
                    columns2['Transaction_amount'].append(amount)
                    columns2['States'].append(state)
                    columns2['Years'].append(year)
                    columns2['Quartile'].append(int(file.strip('.json')))
            except:
                pass

map_transactions = pd.DataFrame(columns2)

map_transactions['States'] = map_transactions['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
map_transactions['States'] = map_transactions['States'].str.replace('andhra-pradesh','andhra pradesh')
map_transactions['States'] = map_transactions['States'].str.replace('west-bengal','west bengal')
map_transactions['States'] = map_transactions['States'].str.replace('madhya-pradesh','madhya pradesh')
map_transactions['States'] = map_transactions['States'].str.replace('jammu-&-kashmir','jammu & kashmir')
map_transactions['States'] = map_transactions['States'].str.replace('himachal-pradesh','himachal pradesh')
map_transactions['States'] = map_transactions['States'].str.replace('arunachal-pradesh','arunachal pradesh')
map_transactions['States'] = map_transactions['States'].str.replace('tamil-nadu','tamil nadu')
map_transactions['States'] = map_transactions['States'].str.replace('uttar-pradesh','uttar pradesh')

map_transactions['States'] = map_transactions['States'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu','dadra and nagar haveli and daman and diu')
map_transactions['States'] = map_transactions['States'].str.title()

In [67]:
path4 = 'C:/Users/Srinivasa Rao/OneDrive/Documents/PhonePe/pulse/data/map/user/hover/country/india/state/'
map_user_list = os.listdir(path4)

columns3 = {'States':[], 'Years':[], 'Quartile':[], 
           'Districts':[], 'RegisteredUsers':[], 
           'AppOpens':[] 
           }

for state in map_user_list:
    curr_states = path4 + state + '/'
    map_year_list = os.listdir(curr_states)
    
    for year in aggre_year_list:
        curr_year = curr_states + year + "/"
        aggre_file_list = os.listdir(curr_year)
        
        for file in aggre_file_list:
            curr_file = curr_year + file
            data = open(curr_file,'r')
            
            D = json.load(data)
            
            
            for i in D['data']['hoverData'].items():
                district = i[0]
                registeredusers = i[1]['registeredUsers']
                appOpens = i[1]['appOpens']
                columns3['Districts'].append(district)
                columns3['RegisteredUsers'].append(registeredusers)
                columns3['AppOpens'].append(appOpens)
                columns3['States'].append(state)
                columns3['Years'].append(year)
                columns3['Quartile'].append(int(file.strip('.json')))

map_user = pd.DataFrame(columns3)      

map_user['States'] = map_user['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
map_user['States'] = map_user['States'].str.replace('andhra-pradesh','andhra pradesh')
map_user['States'] = map_user['States'].str.replace('west-bengal','west bengal')
map_user['States'] = map_user['States'].str.replace('madhya-pradesh','madhya pradesh')
map_user['States'] = map_user['States'].str.replace('jammu-&-kashmir','jammu & kashmir')
map_user['States'] = map_user['States'].str.replace('himachal-pradesh','himachal pradesh')
map_user['States'] = map_user['States'].str.replace('arunachal-pradesh','arunachal pradesh')
map_user['States'] = map_user['States'].str.replace('uttar-pradesh','uttar pradesh')

map_user['States'] = map_user['States'].str.replace('tamil-nadu','tamil nadu')
map_user['States'] = map_user['States'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu','dadra and nagar haveli and daman and diu')
map_user['States'] = map_user['States'].str.title()

In [68]:
path5 = 'C:/Users/Srinivasa Rao/OneDrive/Documents/PhonePe/pulse/data/top/transaction/country/india/state/'
top_trans_list = os.listdir(path5)

columns4 = {'States':[], 'Years':[], 'Quartile':[], 
           'Pincodes':[], 'Transaction_count':[], 
           'Transaction_amount':[] 
           }

for state in top_trans_list:
    curr_states = path5 + state + '/'
    aggre_year_list = os.listdir(curr_states)
    
    for year in aggre_year_list:
        curr_year = curr_states + year + "/"
        aggre_file_list = os.listdir(curr_year)
        
        for file in aggre_file_list:
            curr_file = curr_year + file
            data = open(curr_file,'r')
            
            E = json.load(data)
            
            for i in E['data']['pincodes']:
                entityName = i['entityName']
                count = i['metric']['count']
                amount = i['metric']['amount']
                columns4['Pincodes'].append(entityName)
                columns4['Transaction_count'].append(count)
                columns4['Transaction_amount'].append(amount)
                columns4['States'].append(state)
                columns4['Years'].append(year)
                columns4['Quartile'].append(int(file.strip('.json')))
                
top_transactions = pd.DataFrame(columns4)     

top_transactions['States'] = top_transactions['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
top_transactions['States'] = top_transactions['States'].str.replace('andhra-pradesh','andhra pradesh')
top_transactions['States'] = top_transactions['States'].str.replace('madhya-pradesh','madhya pradesh')
top_transactions['States'] = top_transactions['States'].str.replace('west-bengal','west bengal')
top_transactions['States'] = top_transactions['States'].str.replace('jammu-&-kashmir','jammu & kashmir')
top_transactions['States'] = top_transactions['States'].str.replace('himachal-pradesh','himachal pradesh')
top_transactions['States'] = top_transactions['States'].str.replace('arunachal-pradesh','arunachal pradesh')
top_transactions['States'] = top_transactions['States'].str.replace('tamil-nadu','tamil nadu')
top_transactions['States'] = top_transactions['States'].str.replace('uttar-pradesh','uttar pradesh')

top_transactions['States'] = top_transactions['States'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu','dadra and nagar haveli and daman and diu')
top_transactions['States'] = top_transactions['States'].str.title()

In [69]:
path6 = 'C:/Users/Srinivasa Rao/OneDrive/Documents/PhonePe/pulse/data/top/user/country/india/state/'
top_user_list = os.listdir(path6)


columns5 = {'States':[], 'Years':[], 'Quartile':[], 
           'Pincodes':[], 'RegisteredUsers':[], 
           
           }

for state in top_user_list:
    curr_states = path6 + state + '/'
    aggre_year_list = os.listdir(curr_states)
    
    for year in aggre_year_list:
        curr_year = curr_states + year + "/"
        aggre_file_list = os.listdir(curr_year)
        
        for file in aggre_file_list:
            curr_file = curr_year + file
            data = open(curr_file,'r')
            
            F = json.load(data)
            
            for i in F['data']['pincodes']:
                entityName = i['name']
                registeredusers = i['registeredUsers']
                columns5['Pincodes'].append(entityName)
                columns5['RegisteredUsers'].append(registeredusers)
                columns5['States'].append(state)
                columns5['Years'].append(year)
                columns5['Quartile'].append(int(file.strip('.json')))

top_users = pd.DataFrame(columns5)

top_users['States'] = top_users['States'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
top_users['States'] = top_users['States'].str.replace('andhra-pradesh','andhra pradesh')
top_users['States'] = top_users['States'].str.replace('west-bengal','west bengal')
top_users['States'] = top_users['States'].str.replace('jammu-&-kashmir','jammu & kashmir')
top_users['States'] = top_users['States'].str.replace("himachal-pradesh",'himachal pradesh')
top_users['States'] = top_users['States'].str.replace('arunachal-pradesh','arunachal pradesh')
top_users['States'] = top_users['States'].str.replace('tamil-nadu','tamil nadu')
top_users['States'] = top_users['States'].str.replace('madhya-pradesh','madhya pradesh')
top_users['States'] = top_users['States'].str.replace('uttar-pradesh','uttar pradesh')

top_users['States'] = top_users['States'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu','dadra and nagar haveli and daman and diu')
top_users['States'] = top_users['States'].str.title()

In [70]:
#SQL TABLE CREATION

mydb = psycopg2.connect(host = 'localhost',
                        user = 'postgres',
                        port = '5432',
                        database = "Phonepe_Data",
                        password = 'Space-time123')

cursor = mydb.cursor()

create_query1 = '''CREATE TABLE if not exists aggregated_transaction(States varchar(333),
                                                                    Years int,
                                                                    Quartile int,
                                                                    Transaction_type varchar(333),
                                                                    Transaction_count bigint,
                                                                    Transaction_amount bigint)'''

cursor.execute(create_query1)
mydb.commit()


insert_query1 = '''INSERT INTO aggregated_transaction(States, Years, Quartile,
                                                      Transaction_type, Transaction_count, 
                                                      Transaction_amount)
                                        
                                                       values(%s,%s,%s,%s,%s,%s)'''
                                                       
data = aggre_transaction.values.tolist()
cursor.executemany(insert_query1, data)
mydb.commit()

create_query2 = '''CREATE TABLE if not exists aggregated_user(States varchar(333),
                                                                    Years int,
                                                                    Quartile int,
                                                                    Brands varchar(333),
                                                                    Transaction_count bigint,
                                                                    Percentage float)'''

cursor.execute(create_query2)
mydb.commit()


insert_query2 = '''INSERT INTO aggregated_user(States, Years, Quartile,
                                                      Brands, Transaction_count, 
                                                      Percentage)
                                        
                                                       values(%s,%s,%s,%s,%s,%s)'''
                                                       
data = aggre_user.values.tolist()
cursor.executemany(insert_query2, data)
mydb.commit()


create_query3 = '''CREATE TABLE if not exists map_transaction(States varchar(255),
                                                                    Years int,
                                                                    Quartile int,
                                                                    Districts varchar(255),
                                                                    Transaction_count bigint,
                                                                    Transaction_amount NUMERIC)'''

cursor.execute(create_query3)
mydb.commit()

insert_query3 = '''INSERT INTO map_transaction(States, Years, Quartile,
                                                      Districts, Transaction_count, 
                                                      Transaction_amount)
                                        
                                                       values(%s,%s,%s,%s,%s,%s)'''
                                                       
data = map_transactions.values.tolist()
cursor.executemany(insert_query3, data)
mydb.commit()

create_query4 = '''CREATE TABLE if not exists map_users(States varchar(333),
                                                                    Years int,
                                                                    Quartile int,
                                                                    Districts varchar(333),
                                                                    RegisteredUsers bigint,
                                                                    AppOpens bigint)'''

cursor.execute(create_query4)
mydb.commit()

insert_query4 = '''INSERT INTO map_users(States, Years, Quartile,
                                                      Districts, RegisteredUsers, 
                                                      AppOpens)
                                        
                                                       values(%s,%s,%s,%s,%s,%s)'''
                                                       
data = map_user.values.tolist()
cursor.executemany(insert_query4, data)
mydb.commit()

create_query5 = '''CREATE TABLE if not exists top_transaction(States varchar(333),
                                                                    Years int,
                                                                    Quartile int,
                                                                    Pincodes int,
                                                                    Transaction_count bigint,
                                                                    Transaction_amount bigint)'''

cursor.execute(create_query5)
mydb.commit()

insert_query5 = '''INSERT INTO top_transaction(States, Years, Quartile,
                                                      Pincodes, Transaction_count, 
                                                      Transaction_amount)
                                        
                                                       values(%s,%s,%s,%s,%s,%s)'''
                                                       
data = top_transactions.values.tolist()
cursor.executemany(insert_query5, data)
mydb.commit()

create_query6 = '''CREATE TABLE if not exists top_user(States varchar(333),
                                                                    Years int,
                                                                    Quartile int,
                                                                    Pincodes int,
                                                                    RegisteredUsers bigint)'''

cursor.execute(create_query6)
mydb.commit()

insert_query6 = '''INSERT INTO top_user(States, Years, Quartile,
                                                      Pincodes, RegisteredUsers)
                                        
                                                       values(%s,%s,%s,%s,%s)'''
                                                       
data = top_users.values.tolist()
cursor.executemany(insert_query6, data)
mydb.commit()